/*#region Common */

body {
    background-color: #F8F5F3 !important;
}

main {
    padding-left: 240px;
}

.main-content {
    margin: 15px 15px 0;
    padding: 60px 0 0 0;
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent;
}

ul.side-nav.fixed {
    overflow: hidden;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li:hover,
ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

ul.side-nav.fixed li a {
    font-size: 18px;
    line-height: 60px;
    height: 60px;
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

.collection .collection-item.avatar {
    height: 60px!important;

}

.collection .collection-item.avatar .secondary-content {
    border-radius: 4px;
}

.collection .collection-item.avatar .secondary-content {
    top: 10px !important;
    right: 22px !important;
}
.jumbotron {
    margin: 0 -15px;
}

.navbar {
    border-radius: 0 !important;
}

.navbar-brand > img {
    display: inline !important;
    margin-right: 10px;
}

.navbar-default .navbar-text {
    color: #FFFFFF !important;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.vcenter {
    vertical-align: middle;
}

.clear {
    clear: both;
}

.input-group {
    width: 100%;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.overflow-auto {
    overflow: auto;
}


/*#endregion */


/*#region Animate */

.alert.ng-enter,
.alert.ng-leave,
.alert.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

.alert.ng-enter.ng-enter-active,
.alert.ng-move.ng-move-active {
    opacity: 1;
}


/*#endregion */

h4 {
    font-weight: 200 !important;
}